@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');

:root {
  --card: #502050;
  --verified: #ee68a4;
  --paragraph: #937b92;
}

body {
  /* margin-left: 10%;
  margin-top: 5%; */
  margin: 0;
  display: flex;
  padding: 2rem 10rem;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: url(/images/bg-pattern-top-desktop.svg) no-repeat top left,
    url(/images/bg-pattern-bottom-mobile.svg) no-repeat bottom right;
}

.top-container {
  display: flex;
  justify-content: space-between;
}

/** Intro Texts 10000+ of our users.....  **/

.intro h3 {
  font-size: 250%;
  color: var(--card);
}

.intro small {
  font-family: cursive;
  font-size: smaller;
}

/** Star Reviews **/

.reviews {
  font-family: inherit;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  justify-content: space-around;
  width: 40%;
}

#rating {
  /* background-image: url(images/icon-star.svg), url(images/icon-star.svg),
    url(images/icon-star.svg), url(images/icon-star.svg),
    url(images/icon-star.svg);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: 20px, 40px, 60px, 80px, 100px; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background-color: blanchedalmond;
  height: 35px;
  width: 100%;
  cursor: pointer;
  padding: 2px 0;
  transform: translateX(-40px);
}
#rating h6 {
  /* padding-left: 60px; */
  color: var(--card);
  margin: 0;
}

.reviews section {
  margin: auto 15px;
}

#report-guru {
  /* background-image: url(images/icon-star.svg), url(images/icon-star.svg),
  url(images/icon-star.svg), url(images/icon-star.svg),
  url(images/icon-star.svg);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: 20px, 40px, 60px, 80px, 100px; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background-color: blanchedalmond;
  height: 35px;
  width: 100%;
  cursor: pointer;
  padding: 2px 0;
  transform: translateX(-20px);
}

#report-guru h6 {
  /* padding-left: 90px; */
  color: var(--card);
  margin: 0;
}

#best-tech {
  /* background-image: url(images/icon-star.svg), url(images/icon-star.svg),
    url(images/icon-star.svg), url(images/icon-star.svg),
    url(images/icon-star.svg);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: 20px, 40px, 60px, 80px, 100px; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background-color: blanchedalmond;
  padding: 2px 0;
  height: 35px;
  width: 100%;
  cursor: pointer;
}

#best-tech h6 {
  /* padding-left: 90px; */
  color: var(--card);
  margin: 0;
}

/** Cards Users Reviews **/

.user-review {
  display: flex;
  margin: 10px 0;
  margin-top: 8%;
}

.user-review p {
  font-family: cursive;
  font-size: 15px;
  padding-left: 10px;
  color: blanchedalmond;
  padding-top: 5%;
  padding-bottom: -40%;
}

/** Colon Smith (Card) **/

.user1 {
  background-color: #502050;
  border-radius: 10px;
  height: 30%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 2px 5px;
  cursor: pointer;
  margin-right: 20px;
}

#image1 img {
  border-radius: 50%;
  margin-top: 10%;
  height: 40px;
  padding: 0 30px;
}
.name1 {
  font-size: medium;
  color: aliceblue;
  margin-left: 23%;
  margin-top: -40px;
}
#buyer1 {
  color: #ee68a4;
  font-family: cursive;
  font-size: x-small;
}

/** Irene Roberts(Card) **/

.user2 {
  background-color: #502050;
  border-radius: 10px;
  height: 30%;
  display: flex;
  flex-direction: column;
  margin-top: 1.5%;
  margin-bottom: 20px;
  padding: 2px 5px;
  cursor: pointer;
  margin-right: 20px;
}

#image2 img {
  border-radius: 50%;
  margin-top: 10%;
  height: 40px;
  padding: 0 30px;
}
.name2 {
  font-size: medium;
  color: aliceblue;
  margin-left: 23%;
  margin-top: -40px;
}

#buyer2 {
  color: #ee68a4;
  font-family: cursive;
  font-size: x-small;
}

/** Anne Wallace (Card) **/

.user3 {
  background-color: #502050;
  border-radius: 10px;
  height: 30%;
  display: flex;
  flex-direction: column;
  margin-top: 3.5%;
  margin-bottom: 20px;
  padding: 2px 5px;
  cursor: pointer;
}

#image3 img {
  border-radius: 50%;
  margin-top: 10%;
  height: 40px;
  padding: 0 30px;
}
.name3 {
  font-size: medium;
  color: aliceblue;
  margin-left: 23%;
  margin-top: -40px;
}
#buyer3 {
  color: #ee68a4;
  font-family: cursive;
  font-size: x-small;
}

.user1 p,
.user2 p,
.user3 p {
  padding: 20px 30px;
}

/* @media (max-width: 500px) {
  body {
    margin-left: 15%;
    margin-right: 0%;
  }

  .intro {
    margin-top: 10%;
    margin-left: 20%;
  }

  .intro h3 {
    font-size: 25px;
    margin-bottom: 12px;
  }

  .intro small {
    font-size: 10px;
    align-items: center;
    justify-content: center;
  }

  .reviews {
    right: 5px;
    margin-top: 12px;
    font-size: medium;
    margin-left: 15%;
  }
  #rating {
    background-image: url(images/icon-star.svg), url(images/icon-star.svg),
      url(images/icon-star.svg), url(images/icon-star.svg),
      url(images/icon-star.svg);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: 60px 30%, 80px 30%, 100px 30%, 120px 30%, 140px 30%;
    background-size: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
    border-radius: 4px;
    background-color: blanchedalmond;
    height: 50px;
    width: 60%;
    cursor: pointer;
  }
  #rating h6 {
    padding-bottom: 10%;
    padding-left: 15%;
    padding-top: 20%;
    font-size: 60%;
  }

  #report-guru {
    background-image: url(images/icon-star.svg), url(images/icon-star.svg),
      url(images/icon-star.svg), url(images/icon-star.svg),
      url(images/icon-star.svg);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: 60px 30%, 80px 30%, 100px 30%, 120px 30%, 140px 30%;
    background-size: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
    border-radius: 4px;
    background-color: blanchedalmond;
    height: 50px;
    width: 60%;
    cursor: pointer;
    margin-left: 0;
  }
  #report-guru h6 {
    padding-bottom: 10%;
    padding-left: 10%;
    padding-top: 20%;
    font-size: 61%;
  }

  #best-tech {
    background-image: url(images/icon-star.svg), url(images/icon-star.svg),
      url(images/icon-star.svg), url(images/icon-star.svg),
      url(images/icon-star.svg);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: 60px 30%, 80px 30%, 100px 30%, 120px 30%, 140px 30%;
    background-size: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
    border-radius: 4px;
    background-color: blanchedalmond;
    height: 50px;
    width: 60%;
    cursor: pointer;
    margin-left: 0;
  }
  #best-tech h6 {
    padding-bottom: 10%;
    padding-left: 15%;
    padding-top: 20%;
    font-size: 61%;
  }

  .user-review {
    flex-direction: column;
  }

  .user1 {
    margin-left: 7%;
    border-radius: 10px;
    width: 60%;
  }

  .user1 p {
    font-size: 12px;
    padding-top: 15px;
    padding-bottom: 20px;
  }

  #image1 img {
    margin-left: 10px;
    height: 30px;
  }

  .name1 {
    font-size: small;
  }
  .name2 {
    font-size: small;
  }
  .name3 {
    font-size: small;
  }
  .user2 {
    margin-left: 7%;
    border-radius: 10px;
    width: 60%;
  }
  .user2 p {
    font-size: 12px;
    padding-top: 15px;
    padding-bottom: 20px;
  }

  .user3 {
    margin-left: 7%;
    border-radius: 10px;
    width: 60%;
  }

  .user3 p {
    font-size: 12px;
    padding-top: 15px;
    padding-bottom: 20px;
  }
} */

@media (max-width: 800px) {
  body {
    background: url(/images/bg-pattern-top-mobile.svg) no-repeat top left,
      url(/images/bg-pattern-bottom-mobile.svg) no-repeat bottom right;
    padding: 50px;
  }

  .top-container {
    flex-direction: column;
  }

  .reviews {
    width: 100%;
  }

  #rating,
  #report-guru,
  #best-tech {
    transform: translateX(0);
    margin: 10px 0;
    padding: 10px 0;
  }

  .intro {
    text-align: center;
  }

  .reviews #rating,
  #report-guru,
  #best-tech {
    flex-direction: column;
  }

  .user-review {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .user-review .user1,
  .user2,
  .user3 {
    margin: 10px 0;
  }
}
